:root {
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);

    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    max-width: 1440px;
    box-sizing: border-box;
}

.main-container {
    display: block;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 10px 10px 20px hsl(221, 100%, 96%);

}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.left-side{
    align-items: center;
    background: linear-gradient(0deg, var(--gradient-light-royal-blue),var(--gradient-light-slate-blue));
    border-radius: 0 0 20px 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--gradient-violet-blue);
    background: linear-gradient(0deg, hsla(256, 72%, 46%, 0.03),var(--gradient-violet-blue));
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px 0 30px 0;
    padding: 10px;
}

.middle .sub-text {
    font-size: 12px;
    color: hsl(241, 100%, 89%);
}

.middle .score {
    font-size: 40px;
    font-weight: 800;
    color: var(--neutral-white);
}

.bottom-title {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--neutral-white);
}

.left-side p {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: hsl(241, 100%, 89%);
    padding: 5px 10px;
}

h1{
    font-size: 18px;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}

.right-side {
    border-radius: 0 20px 20px 0;
}

h2 {
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: left;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.summary-item-name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5;
}

.item-title {
    display: flex;
}

.item-title img {
    width: 15px;
    height: 15px;
    padding: 2px 5px 0 0;
}

.item-score {
    display: flex;
    font-size: 14px;
}

.item-score-top {
    font-weight: bold;
    padding-right: 5px;
}

.reaction {
    color:hsl(0, 100%, 67%);
}

.memory {
    color:hsl(39, 100%, 56%);
}

.verbal {
    color:hsl(166, 100%, 37%);
}

.visual{
    color: hsl(234, 85%, 45%);
}

#item-01 {
    background: hsla(0, 100%, 67%, 0.05);
}

#item-02 {
    background: hsla(39, 100%, 56%, 0.05);
}

#item-03 {
    background: hsla(166, 100%, 37%, 0.05);
}

#item-04 {
    background: hsla(234, 85%, 45%, 0.05);
}


.btn {
    padding: 10px 40px;
    border: 1px solid var(--neutral-dark-gray-blue);
    background: var(--neutral-dark-gray-blue);
    border-radius: 50px;
    margin-top: 20px;
    color:var(--neutral-white);
    letter-spacing: 1px;
    font-size: 12px;
}

.btn:hover {
    background: linear-gradient(0deg, var(--gradient-violet-blue),var(--gradient-light-slate-blue));
}

.attribution { 
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    font-size: 11px; 
    text-align: center; 
    margin-top: 50px;
}

/* Media Queries */
@media screen and (min-width: 376px){
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 500px;
        border-radius: 20px;
    }

     .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);   
    }

    .left-side {
        border-radius: 20px;
    }

    .left-side p {
        font-size: 14px;
    }

    .attribution { 
        display: block;
    }
}
