:root {
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);

    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-royal-blue: hsl(241, 81%, 54%);
    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.main-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    outline: 1px solid red;
}

span {
    display: block;
}

.left-side, .right-side {
    padding: 20px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    flex: 1;

    outline: 1px solid blue;
}

.left-side {
    justify-content: center;
    align-items: center;
    background: var(--gradient-light-slate-blue);
    border-radius: 10px;
}

h1, 
.left-side span,
.left-side p {
    color: var(--neutral-white);
}

.middle {
    text-align: center;
    background: var(--gradient-violet-blue);
    margin: 20px 0;
    padding: 50px;
    border-radius: 150%;
}
.middle span {
    font-size: 10px;
}
.middle .score {
    font-size: 40px;
    font-weight: 800;
}

.left-side p {
    font-size: 14px;
    max-width: 80%;
    text-align: center;
}

h1, h2 {
    font-size: 18px;
    font-weight: 500;
}

h2 {
    font-weight: 700;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.summary-item-name {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5;
}

#reaction {
    color:hsl(0, 100%, 67%);
}

#memory {
    color:hsl(39, 100%, 56%);
}

#verbal {
    color:hsl(166, 100%, 37%);
}

#visual{
    color: hsl(234, 85%, 45%);
}

#item-01 {
    background: hsla(0, 100%, 67%, 0.05);
}

#item-02 {
    background: hsla(39, 100%, 56%, 0.05);
}

#item-03 {
    background: hsla(166, 100%, 37%, 0.05);
}

#item-04 {
    background: hsla(234, 85%, 45%, 0.05);
}


.btn {
    padding: 10px 40px;
    border: 1px solid var(--neutral-dark-gray-blue);
    background: var(--neutral-dark-gray-blue);
    border-radius: 50px;
    margin: 20px 0;
    color:var(--neutral-white);
    letter-spacing: 1px;
    font-size: 12px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }